* {
    font-family: Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    color:#5f5f5f;
}

.navbar {
	position: fixed;
	width: 100%;
}



/* TODO item */
.todo .done-true {
	text-decoration: line-through;
	color: grey;
}

.todo .remaining {
	font-size:1em;
	color: #ABABAB;
}

.todo ul {
	list-style-type: none;
}