* {
    font-family: Lucida Sans, Arial, Helvetica, sans-serif;
}

html {
	padding-top:50px;
}
body {
    margin: 0px auto;
    color:#5f5f5f;
    background-color:#e5e5e5;
}

a.item, a.item:hover, a.item:visited {
	text-decoration:none;
	color:#5f5f5f !important;
}
.actionable {
	font-size: 2em;
	cursor: pointer;
}
.checkbox {
	font-size: 1.5em;
}
.clickable {
	cursor: pointer;
}
ul, li {
	margin:0;
	padding:0;
}
.navbar {
	position: fixed;
	width: 100%;
}

/* CARD */

.card .items {
	margin: 3%;
}

.card .add-item {
	font-size: 3em;
	position: fixed;
	right: 7px;
	bottom: 0;
}

.card .add-item ul{
	font-size: 0.5em;
}


.card .items .item {
}

.card .resize {
	float:right;
	cursor:move;
}

/* CONTACT */
ul.contacts{
	width:100%;
	list-style-type:none;
	background-color:#fff;
}

ul.contacts li {
	border-bottom:solid 1px #e6e6e6;
}

ul.contacts li:last-child {
	border-bottom:none;
}

ul.contacts li .selection {
	float:right;
}

ul.contacts img.avatar {
	width:3em;
}
/* ! CONTACT */

.photo .date {
	font-size:0.7em;
	color:#ABABAB;
}
/* TODO item */
.todo .done-true {
	text-decoration: line-through;
	color: grey;
}

.sublabel {
	font-size:0.7em;
	color: #ABABAB;
}

.todo .remaining {
	font-size:0.7em;
	color: #ABABAB;
}

.todo ul {
	list-style-type: none;
}

.todo li:first-child {
	margin-top:5px;
}

.todo .progress {
	height:4px;
	margin:0;
}

.addtask {
	margin-bottom:1em;
}

.card .title {
	font-size:1.2em;
}

.header .title {
	
}

.header .colorbutton {
	float:right;
}

.color {
	width: 3em;
	height: 3em;
}

.light-grey {
	color: #8F8F8F;
}

.dark-grey {
	color: #525252;
}

.gray {
	background-color: #D5D5D5 !important;
}

.white {
	background-color: #ffffff !important;
}

.purple {
	background-color: rgb(164, 122, 226) !important;
	color: #fff;
}

.yellow {
	background-color: rgb(251, 233, 131) !important;
}

.orange {
	background-color: rgb(255, 173, 70) !important;
	color: #fff;
}

.blue {
	background-color: rgb(73, 134, 231) !important;
	color: #fff;
}

.green {
	background-color: rgb(22, 167, 101) !important;
	color: #fff;
}

.red {
	background-color: rgb(248, 58, 34) !important;
	color: #fff;
}

notesmedia="all"
.left {
float: left;
}
notesmedia="all"
.link {
cursor: pointer;
}

/* FROM SEMANTIC-UI */
.ui.piled.segment {
	margin: 2em 0em;
	-ms-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.15);
}
.ui.segment {
	position: relative;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
	padding: 1em;
	box-sizing: border-box;
}

.ui.piled.segment:before {
	-webkit-transform: rotate(-1.2deg);
	-ms-transform: rotate(-1.2deg);
	transform: rotate(-1.2deg);
	top: 0;
	z-index: -2;
}
.ui.piled.segment:after, .ui.piled.segment:before {
	background-color: #FFFFFF;
	visibility: visible;
	content: "";
	display: block;
	height: 100%;
	left: -1px;
	position: absolute;
	width: 100%;
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.ui.piled.segment:after {
	-webkit-transform: rotate(1.2deg);
	-ms-transform: rotate(1.2deg);
	transform: rotate(1.2deg);
	top: 0;
	z-index: -1;
}

.ui.segment:after {
	clear: both;
}

element.style {
z-index: 1050;
}

.cards .item, .cards .item > .image, .cards .item > .image .overlay, .cards .item > .content, .cards .item > .content > .meta, .cards .item > .content > .extra {
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
}
.cards > .row > .item, .cards .item {
display: block;
position: relative;
top: 0px;
width: 100%;
/*margin: 0em 0.5em 2.5em;*/
background-color: #FFFFFF;
line-height: 1.2;
font-size: 1em;
box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
border-bottom: 0.2em solid rgba(0, 0, 0, 0.2);
-webkit-transition: box-shadow 0.2s ease;
transition: box-shadow 0.2s ease;
/*padding: 0em 0.5em 0em 0.5em;*/
padding:0em;
}

.cards .item > .content {
padding: 0.75em 0.5em 0.1em 0.5em;
}

.cards .item .meta {
float: right;
color: rgba(0, 0, 0, 0.35);
}

.cards .item > .content > .meta + .name {
float: left;
}
.cards .item > .content > .name {
display: block;
font-size: 1.25em;
font-weight: bold;
margin-bottom: 0.2em;
color: rgba(0, 0, 0, 0.7);
}

.cards .item > .content > .description {
clear: both;
margin: 0em 0em;
color: rgba(0, 0, 0, 0.45);
}

#notifications {
    margin-bottom: -10px;
    position: fixed;
    opacity: 0.9;
    /*top: 46px;*/
    bottom: 0;
    z-index: 1;
    width: 100%;
}
#notifications ul {
}
#notifications ul li {
    /*width: 320px;*/
    min-width: 100%;
    margin: 0;
    padding: 3px 10px 3px 10px;
    color: black;
    background-color: #E0E0D0;
    border: solid 1px #777;
    border-top: none;
    list-style-type: none;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}
#notifications ul li a {
    float: right;
    padding-left: 5px;
}
#notifications i {
    margin-left: 4px;
    margin-right: 4px;
}
#notifications ul li:first-child {
    border-top: solid 1px #777;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
#notifications ul li:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.clear {
	clear:both;
}