<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/brownie" version="1.0.0" viewmodes="maximized">
    <tizen:application id="WTkLQwQ6qq.brownie" package="WTkLQwQ6qq" required_version="2.2"/>
    <content src="index.html"/>
    <icon src="icon.png"/>
    <name>brownie</name>
    <tizen:privilege name="http://tizen.org/privilege/contact.read"/>
    <tizen:privilege name="http://tizen.org/privilege/mediacapture"/>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
</widget>
