<div class="todo ui piled segment">
	<i class="resize fa fa-resize-vertical"></i> <span class="title" contenteditable="true" ng-model="item.name"></span><br />
	<ul class="contacts">
		<div ng-if="edit">
			<li ng-repeat="contact in item.contacts">
				<img class="avatar" ng-src="{{contact.photoURI}}" />
				<!--<img class="avatar" src="http://zoubda.free.fr/olivier/bemyappTizen/{{contact.displayContactId}}.png" />-->
				<span>{{contact.displayName}}</span>
				<span class="selection"><i class="fa actionable" ng-class="contact.selected && 'fa-check-square-o' || 'fa-square-o'" ng-click="check(contact)"></i></span>
			</li>
		</div>
		<div ng-if="!edit">
			<li ng-repeat="contact in item.contacts" ng-if="contact.selected">
				<img class="avatar" ng-src="{{contact.photoURI}}" />
				<!--<img class="avatar" src="http://zoubda.free.fr/olivier/bemyappTizen/{{contact.displayContactId}}.png" />-->
				<span>{{contact.displayName}}</span>
			</li>
		</div>
		<a style="float:right;" ng-click="changestatus()"><span ng-if="!edit">Edit</span><span ng-if="edit">Validate</span></a>
	</ul>
</div>

