<div class="canvas ui piled segment">
    <span class="title" contenteditable="true" ng-model="item.title"></span><br />
    <div ng-show="loading" class="row" style="text-align: center; font-size: 90px">
        <i class="spinner fa fa-spinner"></i>
    </div>
    <div ng-hide="loading" google-maps></div>
    <div class="row" style="margin: 5px; border: solid 1px #d0d0d0; padding: 3px">
        latitude: <span contenteditable="true" ng-model="item.coords.latitude"></span><br />
        longitude: <span contenteditable="true" ng-model="item.coords.longitude"></span>
        <i class="fa fa-search pull-right clickable" ng-click="searchByCoords(item.coords)"></i>
    </div>
    <div class="row" style="margin: 5px; border: solid 1px #d0d0d0; padding: 3px">
    adresse: <span contenteditable="true" ng-model="item.address"></span>
        <i class="fa fa-search pull-right clickable" ng-click="searchByName(item.address)"></i>
    </div>
    <div class="row" style="margin: 5px; border: solid 1px #d0d0d0; padding: 3px">
    commentaires: <span contenteditable="true" ng-model="item.comments"></span>
    </div>
</div>
